

---


Name: Aditya Kothari


---


Roll no. - I028


---


Batch - B1


---

In [28]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk
from nltk.corpus import stopwords
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
text = 'Ferrari S.p.A. is an Italian luxury sports car manufacturer based in Maranello, Italy. Founded in 1939 by Enzo Ferrari, the company adopted its current name in 1945 and began producing its line of cars in 1947. Ferrari became a public company in 1960, and from 1963 to 2014 it was a subsidiary of Fiat S.p.A.'

Tokenization

In [4]:
words = text.split()

Stop Word Removal

In [5]:
stop_words = set(stopwords.words('english'))
wos = [w for w in words if not w.lower() in stop_words]
wos

['Ferrari',
 'S.p.A.',
 'Italian',
 'luxury',
 'sports',
 'car',
 'manufacturer',
 'based',
 'Maranello,',
 'Italy.',
 'Founded',
 '1939',
 'Enzo',
 'Ferrari,',
 'company',
 'adopted',
 'current',
 'name',
 '1945',
 'began',
 'producing',
 'line',
 'cars',
 '1947.',
 'Ferrari',
 'became',
 'public',
 'company',
 '1960,',
 '1963',
 '2014',
 'subsidiary',
 'Fiat',
 'S.p.A.']

In [6]:
data = pd.DataFrame({'':wos})

Label Encoding

In [7]:
label_encoder = LabelEncoder()
encoded = label_encoder.fit_transform(wos)
encoded

array([ 7, 14, 11, 24, 29, 19, 25, 16, 13, 12, 10,  0,  6,  8, 21, 15, 22,
       26,  1, 18, 27, 23, 20,  2,  7, 17, 28, 21,  3,  4,  5, 30,  9, 14])

One Hot Encoding

In [8]:
ohe = pd.get_dummies( data, columns = [''])
ohe

,_1939,_1945,_1947.,"_1960,",_1963,_2014,_Enzo,_Ferrari,"_Ferrari,",_Fiat,...,_company,_current,_line,_luxury,_manufacturer,_name,_producing,_public,_sports,_subsidiary
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
28,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Distinct words

In [9]:
distinct = set(wos)
distinct

{'1939',
 '1945',
 '1947.',
 '1960,',
 '1963',
 '2014',
 'Enzo',
 'Ferrari',
 'Ferrari,',
 'Fiat',
 'Founded',
 'Italian',
 'Italy.',
 'Maranello,',
 'S.p.A.',
 'adopted',
 'based',
 'became',
 'began',
 'car',
 'cars',
 'company',
 'current',
 'line',
 'luxury',
 'manufacturer',
 'name',
 'producing',
 'public',
 'sports',
 'subsidiary'}

Bag of Words

In [24]:
sent = 'Ferrari S.p.A. is an Italian luxury sports car manufacturer based in Maranello, Italy'

In [25]:
splitted = sent.split()

In [26]:
vectorizer = CountVectorizer()
bow_matrix = vectorizer.fit_transform(splitted)
bow_array = bow_matrix.toarray()
feature_names = vectorizer.get_feature_names_out()
print("BoW Matrix:")
print(bow_array)
print("\nFeature Names:")
print(feature_names)
print("Length : ", len(feature_names))

BoW Matrix:
[[0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 1 0 0 0 0]]

Feature Names:
['an' 'based' 'car' 'ferrari' 'in' 'is' 'italian' 'italy' 'luxury'
 'manufacturer' 'maranello' 'sports']
Length :  12

TF-IDF

In [37]:
term_freq = {word: 0 for word in wos}

for token in splitted:
    if token in wos:
        term_freq[token] += 1

document_freq = len(splitted)
inverse_document_freq = {word: math.log(document_freq / (term_freq[word] + 1)) for word in wos}

tfidf_scores = {word: term_freq[word] * inverse_document_freq[word] for word in wos}

print("TF-IDF Scores:\n")
for word, score in tfidf_scores.items():
    print(f"'{word}': {score:.4f}")

TF-IDF Scores:

'Ferrari': 1.8718
'S.p.A.': 1.8718
'Italian': 1.8718
'luxury': 1.8718
'sports': 1.8718
'car': 1.8718
'manufacturer': 1.8718
'based': 1.8718
'Maranello,': 1.8718
'Italy.': 0.0000
'Founded': 0.0000
'1939': 0.0000
'Enzo': 0.0000
'Ferrari,': 0.0000
'company': 0.0000
'adopted': 0.0000
'current': 0.0000
'name': 0.0000
'1945': 0.0000
'began': 0.0000
'producing': 0.0000
'line': 0.0000
'cars': 0.0000
'1947.': 0.0000
'became': 0.0000
'public': 0.0000
'1960,': 0.0000
'1963': 0.0000
'2014': 0.0000
'subsidiary': 0.0000
'Fiat': 0.0000

Optional Task

In [30]:
paragraph = ['Ferrari S.p.A. is an Italian luxury sports car manufacturer based in Maranello, Italy.',' Founded in 1939 by Enzo Ferrari, the company adopted its current name in 1945 and began producing its line of cars in 1947.',' Ferrari became a public company in 1960, and from 1963 to 2014 it was a subsidiary of Aditya Kothari S.p.A.']

In [31]:
labels = [0, 1, 2]
label_encoder = LabelEncoder()
encoded_labels = label_encoder.fit_transform(labels)

In [39]:
vectorizer = CountVectorizer()
word_freq_matrix = vectorizer.fit_transform(paragraph)
print(word_freq_matrix)

  (0, 19)	1
  (0, 23)	1
  (0, 8)	1
  (0, 25)	1
  (0, 30)	1
  (0, 37)	1
  (0, 14)	1
  (0, 31)	1
  (0, 10)	1
  (0, 22)	1
  (0, 32)	1
  (0, 26)	1
  (1, 19)	1
  (1, 22)	3
  (1, 20)	1
  (1, 0)	1
  (1, 13)	1
  (1, 18)	1
  (1, 39)	1
  (1, 16)	1
  (1, 7)	1
  (1, 27)	2
  (1, 17)	1
  (1, 33)	1
  (1, 1)	1
  (1, 9)	1
  (1, 12)	1
  (1, 35)	1
  (1, 29)	1
  (1, 34)	1
  (1, 15)	1
  (1, 2)	1
  (2, 19)	1
  (2, 22)	1
  (2, 16)	1
  (2, 9)	1
  (2, 34)	1
  (2, 11)	1
  (2, 36)	1
  (2, 3)	1
  (2, 21)	1
  (2, 4)	1
  (2, 40)	1
  (2, 5)	1
  (2, 24)	1
  (2, 41)	1
  (2, 38)	1
  (2, 6)	1
  (2, 28)	1

In [33]:
X_train, X_test, y_train, y_test = train_test_split(word_freq_matrix, encoded_labels, test_size=0.2, random_state=42)

In [34]:
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [35]:
predicted_labels = label_encoder.inverse_transform(y_pred)
print("Predicted Labels:", predicted_labels)

Predicted Labels: [2]